/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg");
}

/* roboto-slab-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v7-latin_cyrillic-regular.eot");
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/roboto-slab-v7-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-v7-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-slab-v7-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-slab-v7-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-slab-v7-latin_cyrillic-regular.svg#RobotoSlab") format("svg");
}

html, body {
  height: 100%;
}

.first-screen {
  width: 100%;
  height: 100%;
}

.first-screen__top {
  background: url(../img/bg@2x.png) no-repeat top center;
  max-width: 1920px;
  width: 100%;
  min-height: 810px;
  background-size: cover;
  margin: 0 auto;
}

.first-screen__top .container {
  color: white;
}

.first-screen__top .logo-txt {
  font-size: 12px;
  font-family: Roboto;
  height: 100%;
  padding-top: 10.5%;
  padding-left: 50%;
  line-height: 1.4;
}

.first-screen__top a {
  font-family: Roboto;
  font-weight: bold;
  color: white;
}

.first-screen__top .info {
  padding-top: 10.6%;
  margin-left: 15px;
  width: 59%;
  height: 53%;
}

.first-screen__top .info h1 {
  font-size: 54px;
  margin-bottom: 4.2%;
  line-height: 1.01em;
}

.first-screen__top .info h3 {
  font-size: 22px;
  line-height: 1em;
}

.first-screen__top .info .button {
  display: inline-block;
  border: none;
  color: black;
  text-decoration: none;
  background-color: #FFB750;
  padding: 21px 51px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
}

.first-screen__top .info .button:focus, .first-screen__top .info .button:hover {
  text-decoration: none;
  color: #080808;
}

.first-screen__top .info .button:hover {
  background-color: #ffc16a;
}

.first-screen__top .info .button:hover::after {
  opacity: .22;
}

.first-screen__top .info .button:active {
  background-color: #ffad37;
}

.first-screen__top .info .button:active::after {
  opacity: .32;
}

.first-screen__top .info .button {
  margin-top: 6.9%;
}

.logo {
  float: left;
  height: 100%;
}

.padding-side-0 {
  padding-left: 0;
  padding-right: 0;
}

.navbar__main {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.navbar__main li {
  font-size: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 -1em;
}

.navbar__contact {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.navbar__contact li {
  font-size: 14px;
  display: block;
  text-align: left;
  text-decoration: none;
  line-height: 2.4em;
}
