//colors
$main-color: #FFDA0D;
$second-color: #275EFF;
$subtopic-color: #C2C2C2;
$list-color: #888888;

// TEXT
$h1-size: 34px;
$h1-weight: bold;
$h1-color: $second-color;

$h2-size: 22px;
$h2-color: #C2C2C2;

$h3-size: 22px;
$h3-color: #000;
$h3-weight: bold;

// BORDER-RADIUS

$border-radius: 5px;

// PARAGRAPH
$p-size: 16px;