@import "fonts.scss";
@import "__variables.scss";

html, body {
  height: 100%;
  font-family: Roboto;
}

/* First Screen */

.first-screen {
	max-width: 1920px;
	min-height: 980px;
}

.first-screen__top {
	background: url(../img/bg.jpg) no-repeat top center;
	max-width: 1920px;
	width: 100%;
	min-height: 810px;
	background-size: cover;
	margin: 0 auto;
	.container {
		color: white;
	}
	.logo-txt {
		font-size: 12px;
		height: 100%;
		padding-top: 10.5%;
		padding-left: 50%;
		line-height: 1.4;
	}
	a {
		font-family: Roboto;
		font-weight: bold;
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
	.info {
		padding-top: 10.6%;
		margin-left: 15px;
		width: 59%;
		height: 53%;
		h1 {
			font-size: 54px;
			margin-bottom: 4.2%;
			line-height: 1.01em;
			color: white;
		}
		h3 {
			font-size: 22px;
			line-height: 1em;
			color: white;
		}
		@import "button.scss";
		.button {
			margin-top: 6.9%;
		}
	}
}

.logo {
	float: left;
	height: 100%;
}

.padding-side-0 {
	padding-left: 0;
	padding-right: 0;
}

.navbar__main {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	li {
		font-size: 14px;
		display: block;
		text-align: center;
		text-decoration: none;
		margin: 0 -1em;
	}

	
}

.navbar__contact {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
	li {
		font-size: 14px;
		display: block;
		text-align: left;
		text-decoration: none;
		line-height: 2.4em;
		img {
			margin-right: 10px;
		}
	}
}

.first-screen__bot {
	max-width: 1920px;
	width: 100%;
	min-height: 170px;
	background-color: white;
	margin: 0 auto;
	border-bottom-color: $subtopic-color;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	.info {
		min-height: 170px;
		display: flex;
		padding: 0;
		list-style: none;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		span {
			font-size: 22px;
			color: $main-color;
		}
		.info__pad {
			padding-left: 54px;
		}
	}
}

/* End First Screen */
/* ----------------- */
/* Start Second Screen */

.second-screen {
	max-width: 1920px;
	min-height: 820px;
	padding-top: 120px;
	margin-bottom: 20px;
	.container {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		.row {
			width: 100%;
			.col-6 {
				list-style-type: none;
				padding: 0;
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				list-style: none;
				margin-bottom: 59px;
				img {
					width: 150px;
					height: 150px;
				}
				div {
					margin: 2px 0px 0px 9.2%;
					padding-right: 3%;
				}
				h3 {
					font-size: 22px;
					font-weight: bold;
					padding-bottom: 5%
				}
				span {
					font-family: Roboto Slab;
					
				}
			}
			.right {
				padding-left: 50px;
			}
		}
	}
	.topic {
		font-weight: bold;
		font-size: 34px;
		color: $second-color;
		text-align: center;
	}
	.subtopic {
		font-size: 22px;
		color: $subtopic-color;
		text-align: center;
		padding: 1% 10%;
		margin-bottom: 100px;
		margin-top: 20px;
	}

}

/* End Second Screen */
/* ----------------- */
/* Start Third Screen */

.coach {
	max-width: 1920px;
	min-height: 820px;
	.section {
		margin-top: 120px;
		padding: 120px 0;
		background-color: #003FFF;
		background: radial-gradient(#003FFF, #002080);
		transform: skewY(-5deg);
		.container {
			transform: skewY(5deg);
		}
	}
	.topic {
		font-weight: bold;
		font-size: 34px;
		color: white;
		text-align: center;
	}
	.subtopic {
		font-size: 22px;
		color: $subtopic-color;
		text-align: center;
		padding: 1% 10%;
		margin-bottom: 100px;
	}
	.coach-person {
		width: 100%;
		list-style-type: none;
		display: flex;
		color: white;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		.coach__photo {
			width: 414px;
			height: 414px;
			margin-left: 45px;
		}
		.coach__text {
			max-width: 527px;
		}
		h4 {
			font-size: 22px;
			margin-bottom: 40px;
		}
		p {
			margin-bottom: 30px;
		}
		h5 {
			color: $main-color;
			font-size: 22px;
			margin-right: 64%;
			border-bottom: 1px $main-color solid;
		}
	}
}

/* End Third Screen */
/* ----------------- */
/* Start Learn Program */

.learn-program {
	padding-top: 200px;
	padding-bottom: 120px;
	.topic {
		font-weight: bold;
		font-size: 34px;
		color: $second-color;
		text-align: center;
	}
	.subtopic {
		font-size: 22px;
		color: $subtopic-color;
		text-align: center;
		padding: 0% 10%;
		padding-top: 1%;
		margin-bottom: 100px;
	}
	.plus-symbol {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 16px;
		top: 21px;
	}
	.card-body li{
		list-style: none; /* Убираем исходные маркеры */
		background: url("../img/cup.svg") no-repeat 0 0px; /* Параметры фона */
		padding-left: 32px; /* Смещаем текст вправо */ 
		line-height: 22px;
		margin-bottom: 29px;
		background-size: 22px 22px;
	}
	.card {
		margin-bottom: 20px;
	}
	button img{
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;

		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		-o-transition-property: -o-transform;
		transition-property: transform;

		overflow:hidden;

	}
	.rotate-45 {
		transform: rotate(45deg);
	}
	
	.accord {
		list-style-type: none;
		display: flex;
		color: black;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
	button {
		background-color: #fff;
		text-align: left;
		font-size: 22px;
		padding: 14px 0;
		padding-left: 26px;
		color: $list-color;
		border-width: 1px;
		border-style: solid;
		border-color: $list-color;
		border-image: initial;
		cursor: pointer;
		font-weight: bold;
		transition-duration: 0.25s;
	}
}

.button-list.black-text {
		
	color: #000000;
}

// SUPORT SECTION

h1, h2, h3, h4, h5, p{
	margin: 0;
	padding: 0;
}

h1 {
	color: $h1-color;
	font-size: $h1-size;
	font-weight: $h1-weight;
	margin-bottom: 20px;
}

h2 {
	color: $h2-color;
	font-size: $h2-size;
}

h3 {
	color: $h3-color;
	font-size: $h3-size;
	font-weight: $h3-weight;
}

h4 {
	font-family: "Roboto Slab";
	font-size: 16px;
}

p {
	font-family: "Roboto Slab", serif;
	line-height: 21px;
	font-size: $p-size;
}


.suport__header {
	color: $h1-color;
	font-size: $h1-size;
	font-weight: $h1-weight;
	margin-bottom: 20px;
}

.suport__sub-header {
	color: $h2-color;
	font-size: $h2-size;
}

.suport__boxes {
	margin-top: 100px;
	min-height: 612px;
	position: relative;
}

.suport__box {
	width: 629px;
	min-height: 450px;

	border-radius: $border-radius;
	position: absolute;
	box-shadow: 0 0 20px 10px #E9E9E9;
	background-color: #fff;
}

.suport__box-left {
	width: 570px;
	height: 512px;
	left: 0;
	top: 92px;
	z-index: 1;
	background-image: url("../img/pyramid.svg");
	background-size: 324px;
	background-repeat: no-repeat;
	background-position: center;
	
}

.suport__box-right {
	right: 0;
	top: 0;
	z-index: 2;
	padding: 92px 55px;
}

.suport__h3 {
	margin-bottom: 30px;
}

.suport__p-first {
	margin-bottom: 20px;
}

// SECTION RESULT

.result {
	padding: 120px 0;
}

.result__first {
	display: flex;
	align-items: center;
	align-content: center;
}

.result__big-letter {
	font-size: 200px;
	text-align: left;
	font-weight: 400;
	line-height: 1;
	opacity:0.5;
}

.result__big-letter--red {
	color: $main-color;
}

.result__big-letter--blue {
	color: $second-color;
}

.result__desc {
	font-size: 22px;
	font-weight: bold;
}

// SPECIAL OFFER SECTION

.offer {
	padding-bottom: 120px;
	position: relative;

	&__h3 {
		margin-bottom: 20px;
	}
	& h4 {
		width: 71%;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	&__input {
		width: 78%;
		height: 50px;
		margin-bottom: 20px;
		padding-left: 15px;
		font-family: "Roboto Slab";
	}
	&__button {
		width: 48%;
		height: 70px;
		margin-top: 40px;
		text-align: center;
		font-size: 18px;
		font-weight: 600;
		border: 0;
		border-radius: 5px;
		background-color: $main-color;
		cursor: pointer;
		box-shadow: 5px 5px 10px -10px black;
		&:hover {
			background-color: lighten($main-color, 10%); 
		}
	}
}

.container--padding-top {
	padding-top: 100px;
}

.offer__image--margin-top {
	margin-top: 120px;
}

.offer__image {
	position: relative;
	left: 30px;
	z-index: 1;
}

.offer__form {
	position: relative;
	right: 30px;
	z-index: 2;
	width: 470px;
	height: 600px;
	box-shadow: 5px 5px 20px -10px black;
	padding: 70px 20px;

}



// Sertification section

.sertif {
	padding-bottom: 120px;
}

.sertif__img-container {
	padding: 10px 7px;
	box-shadow: 0 0 30px -20px black;
}

.padding-top {
	padding-top: 100px;
}

.sertif__img {
	width: 99%;

}

.sertif__text {
	margin-left: 50px;
}

.sertif__p {
	margin-top: 20px;
	span {
		color: $main-color;
	}
}

.sertif__p--margin-top {
	margin-top: 40px;
}


// REVIEWS

.review {
	overflow: hidden;
	.container {
		margin-top: 100px;
	}
	div {
		list-style: none;
		iframe {
			width: auto;
			height: 300px;
		}
	}
	&__button {
		line-height: 1;
		padding: 23px 15px;
		margin-top: 70px;
		text-align: center;
		font-size: 18px;
		font-weight: 600; border: 0;
		border-radius: 5px;
		background-color: #FFDA0D;
		cursor: pointer;
		box-shadow: 5px 5px 10px -10px black;
		color: #000000;
		&:hover {
			text-decoration: none;
			color: lighten(black, 10%);
			background-color: lighten(#FFDA0D, 10%);
		}
	}
}

.review__btn-container {
	margin: 70px 0 120px 0;
}
.owl-nav, .owl-dots {
	margin: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent
  }
  .owl-nav [class*=owl-] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
  }
  .owl-nav [class*=owl-]:hover {
	background: #869791;
	color: #fff;
	text-decoration: none
  }
  .owl-nav .disabled {
	opacity: .5;
	cursor: default
  }
  .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	/* display: inline */
  }
  .owl-dots .owl-dot span {
	cursor: pointer;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	/* -ms-transition: opacity 200ms ease; */
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
  }
  .owl-dots .owl-dot.active span,  .owl-dots .owl-dot:hover span {
	background: #869791
  }
// FOOTER

footer .navbar {
	ul {
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
	li {
		font-size: 14px;
		display: block;
		text-align: center;
		text-decoration: none;
	}
	a {
		color: #fff;
	}
}

footer {
	background-color: $second-color;
	padding-top: 50px;
	padding-bottom: 20px;
}

.footer__logo {
	display: block; 
	.logo {
		width: 70px;
		height: 64px;
	}
	.logo-txt {
		font-size: 12px;
		padding-top: 10.5%;
		padding-left: 50%;
		line-height: 1.4;
		color: #fff;
	}
}

.footer__contact {
	font-size: 14px;
	color: #fff;
	ul {
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
	}
	li {
		margin-bottom: 10px;
		img {
			margin-right: 10px;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
	}
}

.footer__copyright {
	font-size: 12px;
	font-family: "Roboto Slab";
	color: #CFCFCF;
	text-align: center;
	width: 100%;
	margin-top: 100px;
}