@import "fonts.scss";
@import "__variables.scss";

html, body {
  height: 100%;
}

.first-screen {
  width: 100%;
  height: 100%;
}

.first-screen__top {
	background: url(../img/bg@2x.png) no-repeat top center;
	max-width: 1920px;
	width: 100%;
	min-height: 810px;
	background-size: cover;
	margin: 0 auto;
	.container {
		color: white;
	}
	.logo-txt {
		font-size: 12px;
		font-family: Roboto;
		height: 100%;
		padding-top: 10.5%;
		padding-left: 50%;
		line-height: 1.4;
	}
	ul {
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
	li {
		font-size: 14px;
		display: block;
		text-align: center;
		text-decoration: none;
	}
	a {
		font-family: Roboto;
		font-weight: bold;
		color: white;
	}
}

.logo {
	float: left;
	height: 100%;
}

.padding-side-0 {
	padding-left: 0;
	padding-right: 0;
}

