@import "fonts.scss";
@import "__variables.scss";

html, body {
  height: 100%;
  font-family: Roboto;
}

/* First Screen */

.first-screen {
	max-width: 1920px;
	min-height: 980px;
}

.first-screen__top {
	background: url(../img/bg@2x.png) no-repeat top center;
	max-width: 1920px;
	width: 100%;
	min-height: 810px;
	background-size: cover;
	margin: 0 auto;
	.container {
		color: white;
	}
	.logo-txt {
		font-size: 12px;
		height: 100%;
		padding-top: 10.5%;
		padding-left: 50%;
		line-height: 1.4;
	}
	a {
		font-family: Roboto;
		font-weight: bold;
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
	.info {
		padding-top: 10.6%;
		margin-left: 15px;
		width: 59%;
		height: 53%;
		h1 {
			font-size: 54px;
			margin-bottom: 4.2%;
			line-height: 1.01em;
		}
		h3 {
			font-size: 22px;
			line-height: 1em;
		}
		@import "button.scss";
		.button {
			margin-top: 6.9%;
		}
	}
}

.logo {
	float: left;
	height: 100%;
}

.padding-side-0 {
	padding-left: 0;
	padding-right: 0;
}

.navbar__main {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	li {
		font-size: 14px;
		display: block;
		text-align: center;
		text-decoration: none;
		margin: 0 -1em;
	}
	
}

.navbar__contact {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
	li {
		font-size: 14px;
		display: block;
		text-align: left;
		text-decoration: none;
		line-height: 2.4em;
	}
}

.first-screen__bot {
	max-width: 1920px;
	width: 100%;
	min-height: 170px;
	background-color: white;
	margin: 0 auto;
	border-bottom-color: $subtopic-color;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	.info {
		min-height: 170px;
		display: flex;
		padding: 0;
		list-style: none;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		span {
			font-size: 22px;
			color: $main-color;
		}
		.info__pad {
			padding-left: 54px;
		}
	}
}

/* End First Screen */
/* ----------------- */
/* Start Second Screen */

.second-screen {
	max-width: 1920px;
	min-height: 820px;
	padding-top: 120px;
	margin-bottom: 20px;
	.container {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		.row {
			width: 100%;
			.col-6 {
				list-style-type: none;
				padding: 0;
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				list-style: none;
				margin-bottom: 59px;
				div {
					margin: 2px 0px 0px 9.2%;
					padding-right: 3%;
				}
				h3 {
					font-size: 22px;
					font-weight: bold;
					padding-bottom: 5%
				}
				span {
					font-family: Roboto Slab;
					
				}
			}
			.right {
				padding-left: 50px;
			}
		}
	}
	.topic {
		font-weight: bold;
		font-size: 34px;
		color: $second-color;
		text-align: center;
	}
	.subtopic {
		font-size: 22px;
		color: $subtopic-color;
		text-align: center;
		padding: 1% 10%;
		margin-bottom: 100px;
	}

}

/* End Second Screen */
/* ----------------- */
/* Start Third Screen */

.coach {
	max-width: 1920px;
	min-height: 820px;
	.section {
		margin-top: 120px;
		padding: 120px 0;
		background-color: #003FFF;
		background: radial-gradient(#003FFF, #002080);
		transform: skewY(-5deg);
		.container {
			transform: skewY(5deg);
		}
	}
	.topic {
		font-weight: bold;
		font-size: 34px;
		color: white;
		text-align: center;
	}
	.subtopic {
		font-size: 22px;
		color: $subtopic-color;
		text-align: center;
		padding: 1% 10%;
		margin-bottom: 100px;
	}
	.coach-person {
		width: 100%;
		list-style-type: none;
		display: flex;
		color: white;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
		.coach__photo {
			width: 414px;
			height: 414px;
			margin-left: 45px;
		}
		.coach__text {
			max-width: 527px;
		}
		h4 {
			font-size: 22px;
			margin-bottom: 40px;
		}
		p {
			margin-bottom: 30px;
		}
		h5 {
			color: $main-color;
			font-size: 22px;
			margin-right: 64%;
			border-bottom: 1px $main-color solid;
		}
	}
}

/* End Third Screen */
/* ----------------- */
/* Start Learn Program */

.learn-program {
	padding-top: 200px;
	.topic {
		font-weight: bold;
		font-size: 34px;
		color: $second-color;
		text-align: center;
	}
	.subtopic {
		font-size: 22px;
		color: $subtopic-color;
		text-align: center;
		padding: 0% 10%;
		padding-top: 1%;
		margin-bottom: 100px;
	}
	.plus-symbol {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 16px;
		top: 21px;
	}
	.card-body li{
		list-style: none; /* Убираем исходные маркеры */
		background: url("../img/cup.svg") no-repeat 0 0px; /* Параметры фона */
		padding-left: 32px; /* Смещаем текст вправо */ 
		line-height: 22px;
		margin-bottom: 29px;
		background-size: 22px 22px;
	}
	.card {
		margin-bottom: 20px;
	}
	button img{
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;

		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		-o-transition-property: -o-transform;
		transition-property: transform;

		overflow:hidden;

	}
	.rotate-45 {
		transform: rotate(45deg);
	}
	
	.accord {
		list-style-type: none;
		display: flex;
		color: black;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
	button {
		background-color: #fff;
		text-align: left;
		font-size: 22px;
		padding: 14px 0;
		padding-left: 26px;
		color: $list-color;
		border-width: 1px;
		border-style: solid;
		border-color: $list-color;
		border-image: initial;
		cursor: pointer;
		font-weight: bold;
		transition-duration: 0.25s;
	}
}

.button-list.black-text {
		
	color: #000000;
}