@import "fonts.scss";
@import "__variables.scss";

html, body {
  height: 100%;
}

.first-screen {
  width: 100%;
  height: 100%;
}

.first-screen__top {
	background: url(../img/bg@2x.png) no-repeat top center;
	max-width: 1920px;
	width: 100%;
	min-height: 810px;
	background-size: cover;
	margin: 0 auto;
	.container {
		color: white;
	}
	.logo-txt {
		font-size: 12px;
		font-family: Roboto;
		height: 100%;
		padding-top: 10.5%;
		padding-left: 50%;
		line-height: 1.4;
	}
	a {
		font-family: Roboto;
		font-weight: bold;
		color: white;
	}
	.info {
		padding-top: 10.6%;
		margin-left: 15px;
		width: 59%;
		height: 53%;
		h1 {
			font-size: 54px;
			margin-bottom: 4.2%;
			line-height: 1.01em;
		}
		h3 {
			font-size: 22px;
			line-height: 1em;
		}
		@import "button.scss";
		.button {
			margin-top: 6.9%;
		}
	}
}

.logo {
	float: left;
	height: 100%;
}

.padding-side-0 {
	padding-left: 0;
	padding-right: 0;
}

.navbar__main {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	li {
		font-size: 14px;
		display: block;
		text-align: center;
		text-decoration: none;
		margin: 0 -1em;
	}
	
}

.navbar__contact {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
	li {
		font-size: 14px;
		display: block;
		text-align: left;
		text-decoration: none;
		line-height: 2.4em;
	}
}

